header{
    border: solid black;
    background-color:purple;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    margin-bottom: 5px;
    font-size: 9pt;
}
.Content{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.Game{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36pt;
    background-color: skyblue;
    width: 70%;
    height: 500px;
}
.Levels{
    display: flex;
    margin-left: 1%;
    flex-wrap: wrap;
}
.sq{
    display: grid;
    align-items: center;
    border: solid black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    background-color: green;
    color: white;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.sq:nth-child(even){
    display: grid;
    background-color: greenyellow;
    color: black;
}
.Levels p{
    transition: 1s;
}

.sq:last-child{
    background-color: green;
    height: 100px;
    width: 100px;
    animation-name: anim;
    animation-delay: 0.1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
textarea{
    resize: none;
}
body{
    background-image: url('wallhole.png');
}
.link{
    color: yellow;
}
@media screen and (max-width: 60em) {
    .Content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
    .sq:nth-child(even){
        width: 7%;
        height: 7%;
        padding-left: 1%;
    }
    .sq:nth-child(odd){
        width: 7%;
        height: 7%;
        padding-left: 1%;
    }
    .Game{
        width: 100%;
    }
}
@keyframes anim{
    0% {
        color: white;
        background-color: maroon;
        transform: rotate(0deg);
        height: 100px;
        width: 100px;
    }
    25% {
        color: black;
        background-color: coral;
        transform: rotate(0deg);
        height: 150px;
        width: 150px;
    }
    50% {
        color: black;
        background-color: coral;
        transform: rotate(180deg);
        height: 100px;
        width: 100px;
    }
    75% {
        color: black;
        background-color: coral;
        transform: rotate(360deg);
        height: 150px;
        width: 150px;
    }
    100% {
        color: white;
        background-color: maroon;
        transform: rotate(360deg);
        height: 100px;
        width: 100px;
    }
}